<h1>Vehicles</h1>
<input type="text" [(ngModel)]="searchkeyword" (keyup)="search()">
<select [(ngModel)]="columnName">
    <option value="vehicle">Vehicle</option>
     <option value="manufacturer">manufacturer</option>
    <option value="cost">cost</option>
      
    <option value="color">color</option>
       
</select >
<select [(ngModel)]="sortOrder">
    <option value="asc">Ascending order</option>
    <option value="desc">Desceding order</option>
</select>
<button class="btn btn-warning" (click)="sort()">sort</button>
<select [(ngModel)]="items">
    <option value="5">5</option>
     <option value="10">10</option>
    <option value="15">15</option>
      
    <option value="20">20</option>
       
</select >
<select  [(ngModel)]="pageNumber">
    <option value="1">1</option>
     <option value="2">2</option>
    <option value="3">3</option>
      
    <option value="4">4</option>
     <option value="5">5</option>
       
</select >
<button class="btn btn-success" (click)="pagination()">pagination</button>




<table class="table table-striped">
    <thead>
        <tr>
        <th>Vehicles Name</th>
        <th> Manufacturer</th>
        <th>color</th>
        <th>cost</th>
        <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.color}} </td>
            <td>{{vehicle. cost}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(vehicle.id)" >delete</button>
            </td>
        </tr>
    </tbody>
</table>
