<div class="parent">
    <div class="left">
         <h1>Dashboard</h1>
        <h3 routerLink="/dashboard/home">Home</h3>
        <h3 routerLink="/dashboard/welcome">Welcome</h3>
        <h3 routerLink="/dashboard/data-binding">data binding</h3>
        <h3 routerLink="/dashboard/circle">calcultor</h3>
        <h3 routerLink="/dashboard/right">Rectangle</h3>
        <h3 routerLink="/dashboard/calcultor">circle</h3>
        <h3 routerLink="/dashboard/bmi">bmi</h3>
          <h3 routerLink="/dashboard/vehicles">vehicles</h3>
          <h3 routerLink="/dashboard/flipkart">flipkart</h3>
          <h3 routerLink="/dashboard/email">email</h3>
          <h3 routerLink="/dashboard/pinterest">pinterest</h3>


       

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
